html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Lucida Sans', Garamond, Helvetica, sans-serif, Arial;
    margin: 0;
}
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* navigation */
.navbar {
    position: fixed;
    width: 100%;
    height: 7vh;
    background:black;
    color:azure;
    z-index: 100;
    margin: 0;
}
.navbar .checkbox {
    display: none;
}
.navbar .menu {
    transform: translateX(-100%);
    transition: transform 0.5s ease-in-out;
    display: flex;
    list-style: none;
    padding: 0;
    margin-top: 10px;
    margin-left: 50px;
}
.navbar .menu a {
    text-decoration: none;
    color: azure;
    font-weight: bold;
    margin-left: 50px;
    justify-content: left;
}
.three-lines {
    display: block;
    position: absolute;
    top: 10px;
    left: 15px;
    height: 16px;
    width: 30px;
    cursor: pointer;
    z-index: 2;
}
.three-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    background: azure;
    border-radius: 10px;
    margin-bottom: 5px;
}
.navbar .checkbox:checked ~ .menu {
    transform: translateX(0);
}

/* hero */
#hero {
    font-size: clamp(32px, 5vw, 50px);
    text-shadow: 0 0 20px black;
    margin-top: 80px;
    margin-left: 10px;
    margin-right: 100px;
}
#hero-desc {
    font-size: clamp(12px, 2vw, 20px);
    text-shadow: 0 0 10px black;
    margin-top: 80px;
    margin-bottom: 50px;
}
#hero-nav {
    text-decoration: none;
    text-shadow: none;
    color: rgb(61, 12, 82);
    font-size: 36px;
    font-weight: bold;
    background-color: azure;
    border-radius: 10px;
    padding: 15px 20px;
    margin-top: 40px;
}
#hero-nav:hover {
    text-decoration: underline;
}
#hero-bg {
    height: 100vh;
    background-image: linear-gradient(to bottom left,black, rgb(61, 12, 82));
    background-size: cover;
    color:azure;
    margin: 0;
}
#hero-header {
    /* display: flex; */
    background: url(pics/itb.jpg) no-repeat center;
    background-position: top center;
    background-size: 100% auto;
    height: 60vh;
}
#hero-content {
    display: flex;
}
#hero-photo {
    margin-top: 5vh;
    height: 95vh;
}

/* about */
#about-bg {
    height: 100vh;
    background-image: linear-gradient(to top left,black, rgb(61, 12, 82));
    background-size: cover;
    color:azure;
    margin: 0;
}
#about-header {
    padding-top: 30px;
}
#about-photo {
    clip-path: polygon(30% 0%, 100% 0%, 100% 100%, 0% 100%);
    max-width: 100%;
    height: 100vh;
    
}

/* education */
#education-bg {
    height: 100vh;
    background-image: linear-gradient(to bottom left,black, rgb(61, 12, 82));
    background-size: cover;
    color:azure;
    margin: 0;
}
#education-header {
    letter-spacing: 30px;
    text-align: right;
    padding-top: 30px;
    /* justify-content: flex-end; */
}
.timeline {
    position: relative;
    max-width: 1100px;
    margin: 0 auto;
}
.timeline::after {
    content: '';
    position: absolute;
    width: 4px; /* tebal garis tengah */
    background-color: azure;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}
.timeline-items {
    padding: 10px 40px;
    position: relative;
    width: 50%;
}
.timeline-items::after {
    content: '';
    position: absolute;
    width: 15px; /* lingkaran */
    height: 15px;
    right: -6px; /* letak lingkaran */
    background-color: white;
    border: 2px solid azure;
    top: 30px;
    border-radius: 50%;
    z-index: 1;
}
.timeline-items:nth-child(odd) {
    left: 0;
}
.timeline-items:nth-child(even) {
    left: 50%
}
.timeline-items:nth-child(even)::after {
    left: -9px; /* letak lingkaran */
}
.timeline-content {
    padding: 10px 20px;
    background-color: azure;
    color: black;
    text-shadow:rgb(61, 12, 82);
    border-radius: 6px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

/* skills */
#skills-bg {
    height: 100vh;
    background-image: linear-gradient(to top left,black, rgb(61, 12, 82));
    background-size: cover;
    color:azure;
    margin: 0;
}
#skills-header {
    letter-spacing: 50px;
    text-align: right;
    padding-top: 30px;
    /* justify-content: flex-end; */
}
#skills-container {
    display: flex;
    justify-content: center;
    gap: 300px;
    /* padding: 10px; */
    width: 100%;
    min-width: 500px;
}
.skills-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(80px, 1fr));
    gap: 20px;
    padding: 20px;
}
.hard-skills {
    width: 100%;
    max-height: 100px;
    transition: transform 0.2s ease-in-out
}

#last-bg {
    height: 100vh;
    background-image: linear-gradient(to bottom left,black, rgb(61, 12, 82));
    background-size: cover;
    color:azure;
    margin: 0;
}
#projects {
    text-align: center;
}
#socials {
    text-align: center;
}

.header {
    font-size: clamp(50px, 30vh, 72px);
    text-shadow: 0 0 30px black;
    letter-spacing: 50px;
    margin-left: 30px;
    margin-right: 30px;
}
.content {
    display: flex;
    justify-content: flex-end;
}
.default-text {
    /* display: flex; */
    font-size: clamp(12px, 2vw, 16px);
    text-shadow: 0 0 30px black;
    letter-spacing: normal;
    line-height: 1.5;
    text-align: justify;
    margin-left: 10px;
}
.highlight {
    background-color: azure;
    color: black;
    text-shadow: rgb(61, 12, 82);
}
.logo {
    max-height: 80px;
    margin-top: 50px;
    margin-bottom: 50px;
    gap: 50px;
}

/* TODO for responsiveness */
/* @media (max-width: 768px) {
    #hero-photo {
        width: 180px;
        height: 180px;
    }

    #hero {
        margin: 0;
    }
} */

